<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="2.2.1" targetFramework="net45" />
  <package id="gong-wpf-dragdrop" version="0.1.4.3" targetFramework="net45" />
  <package id="MahApps.Metro" version="0.14.0.0" targetFramework="net45" />
  <package id="MahApps.Metro.Resources" version="0.2.1.0" targetFramework="net45" />
  <package id="NLog" version="3.1.0.0" targetFramework="net45" />
  <package id="NLog.Config" version="3.1.0.0" targetFramework="net45" />
  <package id="NLog.Schema" version="3.1.0.0" targetFramework="net45" />
  <package id="WindowsAPICodePack-Core" version="1.1" targetFramework="net45" />
  <package id="WindowsAPICodePack-Shell" version="1.1" targetFramework="net45" />
</packages>